<div>job title: {{ jobData!.name }}</div>
<div>job field: {{jobData!.jobField ? JobFields[jobData!.jobField] : '' }}</div>
<div>Scope of Hours: {{ jobData!.scopeOfHours }}</div>
<div>Area: {{ jobData!.area }}</div>
<div *ngIf="!showDetails"><button (click)="ShowDetails() ">Show details</button></div>
<div *ngIf="showDetails">
    <button (click)="ShowDetails() ">Hide details</button>
    <div>Requirements: {{jobData!.requirements}}</div>
    <div>WorkingFromHome: {{jobData!.workingFromHome}}</div>
</div>
<button type="button">Send CV</button>

